<!DOCTYPE html>
{% load static %}
<html lang="en">
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Januarius' blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@Jachh_Njoku" />
        <meta name="twitter:title" content="A small blog I developed with Django" />
        <meta name="twitter:image" content="{% static 'images/mylogo4.PNG' %}" />
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
            <h1><a href="/">Januarius' Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
